init
load --fn=source/ai-policy.txt
prompt --task=tasks/010-pdftext-to-markdown.md
transfer-prompts --to=blocks --group_tag=source
prompt --task=tasks/020-interview.md --persona=personas/screenwriter.md
prompt --task=tasks/020-explain.md --persona=personas/oreilly-author.md